# Set

An unorderd collection of unique elements.

In [2]:
# You can define a set using curly braces
s={2,4,6,8,10,"A","a"}
print(type(s))
print(s)

<class 'set'>
{'a', 2, 4, 'A', 6, 8, 10}

In [3]:
# An empty set must be created using set(), not{} because curly braces are used for empty dictionary
a={}
b=set()
type(a),type(b)

(dict, set)

### Properties of sets

1) Unordered: No index based access( cannot do s[0]).
2) Mutable: you can add/remove items.
3) Unique items: Duplicates are automatically removed.

In [9]:
Name={"Sagar","Ashutosh","Krishna","Jatin","Sagar"}
print(Name)

{'Jatin', 'Ashutosh', 'Sagar', 'Krishna'}

In [11]:
for nam in Name:
    print(nam,end=" ")

Jatin Ashutosh Sagar Krishna

# Sets Methods

# Union (|)

a set union combines elements from two (or more) sets, keeping only unique elements (no duplicates), returns a new set without changing the originals.

In [16]:
s1={1,2,3,4}
s2={4,5,6}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6}

# Update

This method modifies the original set in-place.

In [15]:
s1={1,2,3,4}
s2={4,5,6}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6}

# Intersection

a set intersection prints only items that are similar in both sets.

In [21]:
s1={x for x in range(60) if x%3==0}
s2={x for x in range(60) if x%6==0}
s3=s1.intersection(s2)
print(s3)

{0, 36, 6, 42, 12, 48, 18, 54, 24, 30}

# Intersection_update

This methods modifies the original set in place.

In [23]:
s1={x for x in range(60) if x%3==0}
s2={x for x in range(60) if x%6==0}
s1.intersection_update(s2)
print(s1)

{0, 36, 6, 42, 12, 48, 18, 54, 24, 30}

# symmetric_difference

Returns a new set with elements that are in either of the sets, but not in both.
Original sets remain unchanged.

In [24]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
result = s1.symmetric_difference(s2)
print("symmetric_difference:", result)   # {1, 2, 5, 6}
print("s1 after:", s1)                   # {1, 2, 3, 4} (unchanged)

symmetric_difference: {1, 2, 5, 6}
s1 after: {1, 2, 3, 4}

# symmetric_difference_update()

Updates the set in place with the symmetric difference.
Changes the original set.

In [25]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
s1.symmetric_difference_update(s2)
print("s1 after update:", s1)   # {1, 2, 5, 6}

s1 after update: {1, 2, 5, 6}

# difference()

Returns elements that are in the first set but not in the other(s).
Creates a new set, does not modify the original.

In [26]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
result = s1.difference(s2)
print("difference:", result)   # {1, 2}
print("s1 after:", s1)         # {1, 2, 3, 4} (unchanged)

difference: {1, 2}
s1 after: {1, 2, 3, 4}

# difference_update()

Updates the original set in place, removing elements found in the other set(s).

In [27]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
s1.difference_update(s2)
print("s1 after update:", s1)   # {1, 2}

s1 after update: {1, 2}

# isdisjoint() #No same element in two sets

This method checks if items of given sets are in another set. it returns false if items are present else True.

In [28]:
s1={1,2,3}
s2={4,5,6}
print(s1.isdisjoint(s2))

True

# issuperset() #all the items are in another set

if a set have all the element of another set than the set is said to be superset. A set A is a superset of set B if all elements of B are in A.

In [32]:
s1={3,6,9,12,15,18,21,24,27,30}
s2={6,12,18,24,30}
print(s1.issuperset(s2))

True

# issubset()

A set A is a subset of set B if all elements of A are in B.

In [33]:
s1={3,6,9,12,15,18,21,24,27,30}
s2={6,12,18,24,30}
print(s1.issubset(s2))

False

# Add()

If you want to add a single item in a set.

In [34]:
s1={1,2,3,4}
s1.add(5)

In [35]:
print(s1)

{1, 2, 3, 4, 5}

# Update()

if you wat to add more than one item in a set.

In [38]:
s1={1,2,3,4}
s1.update({5,6})

In [39]:
print(s1)

{1, 2, 3, 4, 5, 6}

# Remove() or discard()

Both remove items from a set but remove raises an error if the item is not present in the cell and discard not raises error eventhough the items is not present.

In [43]:
s1={1,2,3,4}
s1.remove(4)
print(s1)

{1, 2, 3}

In [40]:
s1={1,2,3,4}
s1.remove(5)

KeyError: 5

In [44]:
s1={1,2,3,4}
s1.discard(4)
print(s1)

{1, 2, 3}

In [45]:
s1={1,2,3,4}
s1.discard(5)

# pop

This method removes the last item of the set but the catch is we don't know which item get popped as sets are unordered. however, you can access the popped item if you assignthe pop method to a variable.

In [46]:
s1={1,2,3,4}
items=s1.pop()
print(s1)
print(items)

{2, 3, 4}
1

# del

del is a method to delete the set entirely.

In [47]:
s1={1,2,3,4}
del s1

In [48]:
print(s1)

NameError: name 's1' is not defined

# clear()

remove all elements from the set.

In [49]:
s1={1,2,3,4}
s1.clear()
print(s1)

set()

In [1]:
a="Sagar"
print(a)

Sagar