# Tuple

A Tuple is an ordered collections of items,
Immutable: once created you cannot change, add, or remove items.
Defined using paraentheses() instead of square brackets[].

In [3]:
tupl=(1,2,3,4)
print(tupl)

(1, 2, 3, 4)

In [4]:
type(tupl)

tuple

In [7]:
tup=(1)
type(tup)  #python cofuse if your element have only one item so you have to add a comma

int

In [6]:
tup=("Sagar")
type(tup)

str

In [9]:
tup=("Sagar",)
type(tup)                   # like this

tuple

Tuple indexing,slicing is same as list

### Checking for item in tuple

In [13]:
country=("India","Pakistan","Bangladesh","China","Srilanka")
if "China" in country:
    print("Yes")
else:
    print("No")

Yes

In [14]:
country=("India","Pakistan","Bangladesh","China","Srilanka")
print("India" in country)

True

In [16]:
country=("India","Pakistan","Bangladesh","China","Srilanka")
country[1:2]

('Pakistan',)

### Manipulating tuple

first you have to convert tuple into list then you add or remove items then again convert into tuple.

In [3]:
country=("India","Pakistan","Bangladesh","China","Srilanka")
lst=list(country)
lst.append("Russia")
lst.pop(1)
country=tuple(lst)
print(country)

('India', 'Bangladesh', 'China', 'Srilanka', 'Russia')

### However we can concatenate two tuples

In [5]:
tup1=("India","Bangladesh")
tup2=("China","Africa")
tup=tup1+tup2
print(tup)

('India', 'Bangladesh', 'China', 'Africa')

# Tuple methods

### Count()

this methods returns the number of times the given element appears in the tuple.

In [8]:
tup=(1,2,3,4,5,6,7,8,"Sagar")
tup2=tup*10
tup2.count("Sagar")

10

### Index()

This methods returns the first occurrence of the given element from the tuple.

In [9]:
tup=(1,2,3,4,5,6,7,8,"Sagar")
tup.index(1)

0

In [11]:
tup=(1,2,3,4,5,1,6,7,8,"Sagar",1)
tup.index(1,3,8)     #(1,start,end)

5

In [13]:
len(tup)

11

In [15]:
tup1=(1,2,3)
new_tuple=tup1+(4,5)
print(new_tuple)

(1, 2, 3, 4, 5)

### Tuple packing and unpacking

This is only for tuple

In [1]:
player=("Virat","India",250)

In [3]:
Player_name,Team,Score=player

In [4]:
Player_name

'Virat'

In [5]:
Team

'India'

In [6]:
Score

250