# Pandas methods

- 1. Introduction to pandas  
- 2. Top 5 or bottom 5 records  
- 3. renaming the column names  
- 4. statistical description  
- 5. adding new column  
- 6. dropping column  
- 7. Setting any column as index  
- 8. resetting index  
- 9. selecting row with index position  
- 10. selecting subsection of the dataset with LOC and iloc  
- 11. how to drop the row  
- 12. conditional filtering using "&" and "|"  
- 13. apply function on single column  
- 14. apply func on multiple column using lambda func  
- 15. sorting method  
- 16. min , max and their index position  
- 17. value_counts/unique/nunique/replace/map function  
- 18. treatment of duplicate values  
- 19. nlargest/nsmallest to get highest/lowest records  
- 20. sample of the dataset (by numbers or percentage)  
- 21. handling missing data  
- 22. isnull/notnull  
- 23. dropping missing values  
- 24. filling missing values  
- 25. group by operation on pandas  
- 26. combining dataframe-->concatenation  
- 27. combining dataframe-->merging-->join-->inner/left/right/outer  
- 28. text method on string data  
- 29. cleaning the uppercase/lowercase data

### 1. Introduction to pandas

**Pandas Library**
- It is useful for data processing and analysis.

**Pandas DataFrame**
- Pandas DataFrame is a two-dimensional tabular data structure with labelled axes (rows and columns).
- DataFrame is a table of columns and rows in pandas that we can easily restructure and filter.
- **Formal Definition:** A group of pandas Series objects that share the same index.

In [ ]:
import pandas as pd
import numpy as np

## Reading data

In [ ]:
iris_df = pd.read_excel('iris.xlsx')
iris_df.head()

In [ ]:
df = pd.read_csv("tips.csv")
df.head()

In [ ]:
url = "http://www.basketball-reference.com/leagues/NBA_2015_totals.html"
BB_data = pd.read_html(url)

In [ ]:
# Display the BB_data variable
BB_data

In [ ]:
first_bb_table = BB_data[0]
first_bb_table.head()

In [ ]:
df=pd.read_csv("tips.csv") # To import a csv file we use read_csv('filename')

In [ ]:
df.head() # this display the Top (Default = 5) Rows

In [ ]:
df.tail() # this display the Bottom (Default = 5) Rows

In [ ]:
df.sample(5) # this display the random 5 rows

# 3. To get the name of all the columns and how to rename the name of the columns

In [ ]:
df.columns # Outputs the name of all the Column in the dataset

In [ ]:
df.rename(columns={"Payer Name":"payer_name","CC Number":"cc_number"}) # To rename a column name we use a dictionary {'old name':'new name'}

#Using inplace=True applies the change directly to the DataFrame, so there's no need to assign the result to a new variable.

In [ ]:
df.head()

In [ ]:
df.rename(columns={"Payer Name":"payer_name","CC Number":"cc_number"},inplace=True) # To rename a column name we use a dictionary {'old name':'new name'}
df

In [ ]:
df.shape

In [ ]:
df1 = df.rename(columns=str.upper)
df1

# 4. Statistical description

In [ ]:
df.describe() # This function generates descriptive statistics

In [ ]:
df['cc_number'] = df['cc_number'].astype(str)
df

In [ ]:
df.describe(include='object')

In [ ]:
df.describe().transpose() # This swaps rows and columns, flipping the output for easier readability

# To extract out single column or multiple column

In [ ]:
s1 = df["total_bill"].head(3) # Used to read a single column
s1

In [ ]:
type(s1)

In [ ]:
d1 = df[["total_bill"]].head(3) # Used to read a single column
d1

In [ ]:
type(d1)

In [ ]:
df[["total_bill","tip"]].head(3) # for multiple columns name of the columns can be passed as a list

# 5. Adding new column

In [ ]:
df["tip_percentage"]=round(df['tip']/df["total_bill"]*100,2) # Creates a new column 'tip_percentage' (or overwrites it if it already exists)

In [ ]:
df["tip_percentage"]

In [ ]:
df["tip_percentage"]=round(df['tip']/df["total_bill"]*100,2).astype(str) + ' %'

In [ ]:
df.head()

# 6. How to drop the column

In [ ]:
df.drop("tip_percentage",axis=1,inplace=True) # Drops the column and also make the changes to the dataset (inplace= true)

In [ ]:
# in case of deleting multiple column
# df.drop(['CC Number','tip_percentage'],axis=1)

In [ ]:
df.head()

# 7. How to set any column as index

In [ ]:
df=df.set_index("Payment ID").head()

In [ ]:
df.head(2)

# 8. In order to reset index

In [ ]:
df=df.reset_index() # reset the index of a DataFrame back to the default integer index

In [ ]:
df.head(2)

# 9. To select any specific rows with index postion

In [ ]:
df.iloc[0] # integer-based selection — meaning you select rows and/or columns by their position (not labels)

# 10. For selecting some subsection of the dataframe

In [ ]:
df.iloc[1:5]

In [ ]:
# Selecting rows 4 to 9 (index 3 to 8) and columns 2 to 6 (index 1 to 5) using iloc
df.iloc[3:9, 1:6]

In [ ]:
df=df.set_index("Payment ID") # Changes The default index

In [ ]:
df.head(2)

In [ ]:
df.loc[["Sun2959","Sun4608"]]
#label-based indexing — you access rows and columns by their labels, not by position.

In [ ]:
df.head(2)

# 11. How to drop the row

In [ ]:
df.drop("Sun2959",axis=0) # Deletes the row

### 12. Conditional Filtering

- Typically in data analysis, our datasets are large enough that we don’t filter based on position but based on some condition.
- Conditional formatting allows us to select rows based on conditions on the column.
- This leads to discussion on organizing the data.

**Types of Conditional Filtering:**
- Condition filtering
- Filter by single condition
- Filter by multiple conditions
- Check against multiple values

In [ ]:
new_df=pd.read_csv("tips.csv")
new_df.head(2)

In [ ]:
#let filter out for the bill values greater than 40 dollars
new_df[new_df["total_bill"]>40]

In [ ]:
# number of male customer
new_df[new_df["sex"]=="Male"].count() # Filters the male and then perform count

In [ ]:
# how to filter out with multiple condition
# and --> & ==> where both condition need to be true
# OR --> | ==> where either of condition must be true

In [ ]:
# show me the male who have paid the total bill more than 30
new_df[(new_df["total_bill"]>30) & (new_df["sex"]=="Male")].head(5) # AND condition both must be True

In [ ]:
new_df[(new_df["total_bill"]>30) | (new_df["sex"]=="Male")].tail(5) # OR condition either one must be True

In [ ]:
# another way of filtering is with isin function

In [ ]:
import pandas as pd
option=["Sat","Sun"]

In [ ]:
new_df[new_df["day"].isin(option)]

# 13. Use of apply function

In [ ]:
#what if i want to grab last four digit number of credit card number
#this can be acchieved by .apply function

In [ ]:
def Last_Four(num):
    return str(num)[-4:]

In [ ]:
Last_Four(945723487)

In [ ]:
new_df["Last Four"]=new_df["CC Number"].apply(Last_Four) # Creating a new Column (Last Four) by extraction last 4 digit

In [ ]:
new_df.head(2)

In [ ]:
# based on price assing dollar sign== <10 -- "Less Price",10-30--"Medium Price",>30="High Price"

In [ ]:
def yelp(price):
    if price<10:
        return "Less Price"
    elif price >=10 and price <30:
        return "Medium Price"
    else:
        return "High Price"

In [ ]:
new_df["Yelp"]=new_df["total_bill"].apply(yelp)

In [ ]:
new_df.head(4)

# 14. Apply function with multiple columns

In [ ]:
# problem statement is ==> based on the ratio total bill and tip categories customer whether he is generous or not
import pandas as pd
import numpy as np

In [ ]:
def quality(total_bill,tip):
    if tip/total_bill > 0.10:  #if the the tip is more than 10% of the total bill we are returning Generous
        return "Generous"
    else:
        return "other"

In [ ]:
quality(16.00,2)

In [ ]:
new_df["Quality_"]=new_df.apply(lambda x:quality(x["total_bill"],x["tip"]),axis=1)
new_df

In [ ]:
new_df["Quality"] = new_df[["total_bill", "tip"]].apply(lambda x: quality(x[0], x[1]), axis=1)
new_df

In [ ]:
# same result can be obtained by vectorize function

In [ ]:
new_df["Quality1"]=np.vectorize(quality)(new_df["total_bill"],new_df["tip"])
new_df

# 15. Sorting method in pandas

In [ ]:
df=pd.read_csv("tips.csv")

In [ ]:
df.head(2)

In [ ]:
df.sort_index(inplace=True)

In [ ]:
# describe we already know we will directly see the sorting

In [ ]:
df.sort_values(["total_bill","tip"],ascending=[False,True],inplace=True)
df

In [ ]:
df.drop(212,axis=0,inplace=True)

In [ ]:
# let sort the values by tip value
df.sort_values("tip",ascending=False).head(5) # Sorting the values based on column tip

In [ ]:
# we can do sorting with multiple column as well
df.sort_values(["tip","size"]).head()  #multi column sorting passing the columns in a list

# 16. min max and there index position

In [ ]:
#what is max value of total bill
df["total_bill"].max() # returns the max value in the column

In [ ]:
df["total_bill"].idxmax() # returns the index postion of the max value in the column

- max amount of total bill is 50.81 and its index position is 170

In [ ]:
#what is min value of total bill
df["total_bill"].min() # returns the min value in the column

In [ ]:
#what is min value of total bill and what is its index position
df["total_bill"].idxmin() # returns the index postion of the min value in the column

In [ ]:
df.iloc[67]

In [ ]:
df.shape

In [ ]:
df[df["sex"]=="Male"]

In [ ]:
df.select_dtypes(include='number').corr()

#This selects only the numeric columns from the DataFrame and computes the pairwise correlation between them.
#Non-numeric columns (like strings or objects) are excluded because correlation only makes sense between numeric variables.

# 17. value counts/unique/nunique/replace/map func

In [ ]:
df["sex"].value_counts() # counts the values

In [ ]:
df["day"].unique() #Gives a list of unique values in the column

In [ ]:
df["day"].nunique() # Gives the count of the no of uniques in the column

In [ ]:
# how to use replace method==> replace female with "F" and Male with "M"
df.head(2)

In [ ]:
df["sex"].replace({"Female":"F","Male":"M"},inplace=True) # Replaces the values
df

In [ ]:
df["sex"]=df["sex"].map({"F":"Female","M":"Male"})
df

- Another way of doing the same thing is mapping

In [ ]:
mymap={"Female":"F","Male":"M"} #this is a dictionary

In [ ]:
df["sex"].map(mymap)
#This uses the dictionary mymap to transform or replace the values in the "sex" column.

# 18. How to treat duplicate values

In [ ]:
df.duplicated()

In [ ]:
df.drop_duplicates().head(5) # to drop the duplicates

In [ ]:
df[(df["total_bill"]>10) & (df["total_bill"]<30)]

In [ ]:
# use of between function
df[df["total_bill"].between(10, 30, inclusive="both")]

# 19. nlargest and nsmallest

In [ ]:
#show me the 5 largest tip
df.nlargest(5,"tip")

In [ ]:
# show me the 5 smallest tips
df.nsmallest(5,"tip")

# 20. Random sample of the dataset by the number or percentage

In [ ]:
df.sample(5) # any five random rows will be selected

In [ ]:
df.sample(frac=0.05) # 5% of the data will be selected ramdomly

In [ ]:
df.groupby("time")[["total_bill","tip"]].agg(["mean","max","min"])

In [ ]:
df.groupby("sex").count()

In [ ]:
# Average tip by gender
df.groupby('sex')['tip'].mean()

In [ ]:
# Tip stats by smoker
df.groupby('smoker')['tip'].describe()

In [ ]:
# Multiple aggregations
df.groupby('day')[['total_bill', 'tip']].agg(['mean', 'max', 'min'])

### 21. How to handle missing data

- Real world data will often be missing for a variety of reasons.
- Many machine learning models and statistical methods can't work with missing data; in such cases, we need to decide what to do with it.
- When reading missing values, pandas will display them as `NaN` values.

#### Option for missing data
- Keep it  
- Remove it  
- Replace it  

---

#### Keeping the missing data
- **Pros:** Does not manipulate or change the true data  
- **Cons:** Many methods or models do not support NaN values

---

#### Dropping or Removing the missing data
- **Pros:** Easy; can be based on rules  
- **Cons:** Chance of losing a lot of data or useful information can also be lost

---

#### Filling the missing data
- **Pros:** Potential to save a lot of data for use in training a model  
- **Cons:** Hardest to do and somewhat arbitrary -> potential to lead to false conclusions

In [ ]:
df=pd.read_csv("movie_scores.csv")

In [ ]:
df.head()

# 22. isnull and notnull

In [ ]:
df.isnull()
#Returns a DataFrame of the same shape as df, showing True for missing (null/NaN) values and False for non-missing values.

In [ ]:
df.notnull()
#showing True where values are not missing and False where they are missing.

In [ ]:
#show me the rows where all the pre movie score is given

In [ ]:
df[df["pre_movie_score"].notnull()]

In [ ]:
#show me the rows where all the pre movie score is not given

In [ ]:
df[df["pre_movie_score"].isnull()]

In [ ]:
#show me the rows where all the pre movie score is not given but first name is given

In [ ]:
df[(df["pre_movie_score"].isnull()) & (df["first_name"].notnull())]

# 23.Dropping

In [ ]:
df.dropna(subset="pre_movie_score",inplace=True)

In [ ]:
# this will remove the row which contain even one missing value and will not consider that row
df.dropna()

In [ ]:
df.dropna(thresh=1)

# 24. Filling Na values

In [ ]:
#help(df.fillna)

In [ ]:
df.fillna("xjd") #Fill/Replace any null value

In [ ]:
# fill with mean values
df["pre_movie_score"].fillna(df["pre_movie_score"].mean())

- there is one more method of filling the missing values it is interpolate when the category arrange in
linear order and there is missing values this function find interpolate value considering its linear order

### 25. Group By operation on Pandas

- A `groupby()` operation allows us to examine data per category basis.
- Group by is applicable on either categorical or discrete (when the column contains numerical values) columns.

In [ ]:
df=pd.read_csv("mpg.csv")
df.head()

### How to suffix "Kg" in weight variable

In [ ]:
# Add "kg" to each value
df['weight_kg'] = df['weight'].astype(str) + ' kg'
df.head()

### How to remove "kg" from weight variable

In [ ]:
df['weight_new'] = df['weight_kg'].str.replace(' kg', '').astype(int)
df.head(2)

In [ ]:
df["model_year"].value_counts()

In [ ]:
df.groupby(["model_year"]).mean(numeric_only=True) # Seeing the mean of based on each model_year

In [ ]:
df.groupby(["model_year","cylinders"]).mean(numeric_only=True) # Seeing the mean of based on each model_year and cylinders

In [ ]:
#describe functionwith groupby()
df.groupby("model_year").describe().transpose()

# 26. Combining dataframe --> Concatenation
- Often the data you need exists in two separate sources. Fortunately, pandas makes it easy to combine these together.
- The simplest combination is if both sources are already in the same format—then concatenation through `pd.concat()` is all that's needed.

In [ ]:
data_one={"A":["A0","A1","A2","A3"],"B":["B0","B1","B2","B3"]}

In [ ]:
data_Two={"C":["C0","C1","C2","C3"],"D":["D0","D1","D2","D3"]}

In [ ]:
df1=pd.DataFrame(data_one)

In [ ]:
df2=pd.DataFrame(data_Two)

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1,df2],axis=1)

In [ ]:
pd.concat([df1,df2],axis=0)

In [ ]:
# concate them along column
pd.concat([df1,df2],axis=1)

In [ ]:
# concate them along column
pd.concat([df1,df2],axis=0)

In [ ]:
# we can know this not better approch to join the table

In [ ]:
# so to join the two table along the rows column name of both column must be matching

In [ ]:
df2.columns=df1.columns

In [ ]:
df2

In [ ]:
df1

In [ ]:
pd.concat([df1,df2],axis=0)

### 27. Combining DataFrame --> Merging

- This is analogous to a JOIN in SQL.
- The `merge` method takes a key argument labeled `how`.
- There are three ways of merging: `how='inner'`, `how='outer'`, `how='left'`, or `how='right'`.

In [ ]:
registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Virat','Claire','David']})
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Virat']})

In [ ]:
registrations

In [ ]:
logins

In [ ]:
a=pd.merge(registrations,logins,how="left",on="name")
a["log_id"].isnull()

In [ ]:
#lets first try with inner join

In [ ]:
pd.merge(registrations,logins,how="inner",on="name")

- left and right Merge

In [ ]:
#left
pd.merge(registrations,logins,how="left",on="name")

In [ ]:
#Right
pd.merge(registrations,logins,how="right",on="name")

In [ ]:
# outer merge
pd.merge(registrations,logins,how="outer",on="name")

# 28. Text method on string data

- Often text data needs to be cleaned or manipulated for processing.
- While we can always use a custom `apply()` function for these tasks, pandas comes with built-in string method calls.

In [ ]:
#split
email="milindgaur@gmail.com"
email.split("@") # Splits the values

In [ ]:
name="Milind"
name.isdigit()

In [ ]:
"7".isdigit()

In [ ]:
names=pd.Series(["Milind","Kanchan","Rohit",'Snehal'])

In [ ]:
names

In [ ]:
names.str.upper()

In [ ]:
names.str.capitalize()

In [ ]:
names.str.lower()

# 29. How to clean the upper case/ lower case issues

In [ ]:
messy_names=pd.Series(["SaChin ","Kanchan","Rohit",'SNehal '])

In [ ]:
messy_names

In [ ]:
messy_names.str.strip().str.capitalize()

#You use .str every time you want to apply a string method to a pandas Series of strings.
#You can’t chain .strip().capitalize() directly — those are Python string methods, not Series methods